/* NavBar */
/* ---------------------------- */
.nav-btn {
  width: 120px;
  height: 50px;
  border-radius: 50px !important;
  background-color: #00ad8b !important;
  text-transform: uppercase;
  font-weight: bold !important;
  color: white !important;
}

.navbar-custom {
  background-color: white;
  box-shadow: 0 8px 6px -6px rgb(224, 221, 221);
  position: fixed;
  top: 0;
  z-index: 2;
  height: 80px;
}

.toggle-panel {
  height: 70px;
  z-index: 2;
}
/* ---------------------------- */

/* Body */

.main-content {
  height: 640px;
  margin-top: 80px !important;
  border-radius: 30px;
  background: #59a1c9;
  background-image: url("../assets/main-content.png");
  background-image: url("../assets/main-content.png"),
    linear-gradient(to right, #59a1c9, rgba(5, 4, 4, 0.6));
  color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .main-content {
    background-size: cover;
    background: #59a1c9;
    background-image: url("../assets/main-content.png");
    background-image: url("../assets/main-content.png"),
      linear-gradient(to top, #59a1c9, rgba(10, 7, 7, 0.568));
  }
}

.content-text {
  padding: 130px 0px 0px 50px;
  line-height: 2;
  font-size: 22px;
}

@media only screen and (max-width: 450px) {
  .content-text {
    margin-top: 50px;
    padding: 0;
    line-height: 1.5;
  }
}

.header {
  font-size: 45px;
  font-weight: bolder;
}

.description {
  font-weight: lighter;
}

.content-btn {
  margin-top: 20px;
  width: 140px;
  height: 50px;
  border-radius: 50px !important;
  background-color: #ffd428 !important;
  text-transform: uppercase;
  font-weight: bold !important;
  color: black !important;
}

@media only screen and (max-width: 768px) {
  .content-btn {
    width: 100%;
  }
}

/* Main Content Star Rating */
/*----------------------------*/
.checked {
  color: orange;
}

.read-review {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
/*----------------------------*/

/*Benefits Part*/
/*----------------------------*/
.cal-btn {
  color: #f65a5b !important;
  background-color: rgba(204, 48, 48, 0.15) !important;
  border-radius: 10px !important;
}

.cal-btn:disabled,
.video-btn:disabled {
  opacity: 1 !important;
}

.video-btn {
  color: #7f3e98 !important;
  background-color: rgba(127, 62, 152, 0.15) !important;
  border-radius: 10px !important;
}

.no-border {
  border: 0 !important;
}

.card-description {
  line-height: 2;
}
/*----------------------------*/

/*Carousel*/
/*----------------------------*/
.custom-style {
  margin-bottom: 150px;
  font-weight: bold;
}

.card-height {
  min-height: 235px;
}

.carousel-btn {
  width: auto !important;
  background-color: silver !important;
  border: 0 !important;
  margin-top: 100px;
}

@media only screen and (max-width: 990px) {
  .carousel-btn {
    margin-top: 200px;
  }
}

.img-style {
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  padding: 8px;
  bottom: 8px;
  left: 8px;
}

.grayed {
  color: gray;
  font-weight: lighter;
}

.user-review {
  margin: auto;
}

.user-details {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .prev-btn-edit {
    margin-left: -30px;
  }
}

/*----------------------------*/

/*Footer*/
/*----------------------------*/
.footer-bar {
  background-color: #ffeccc;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer-text {
  color: #ffa000;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .footer-text {
    text-align: left;
  }
}

.footer-btn {
  width: 140px;
  height: 50px;
  border-radius: 50px !important;
  background-color: #ffd428 !important;
  text-transform: uppercase;
  font-weight: bold !important;
  color: black !important;
}
/*----------------------------*/
